extend ../components/layout/_index.pug
block siteinfo
  - var title = "contact"
block header
  include ../components/header/_index.pug
block sidebar
  include ../components/sidebar/_index.pug
block body
  include ../components/pages/contactus/_index.pug
block footer
  include ../components/footer/_index.pug