include ../../mixins/_index.pug
+formTemplate("آرشیو سایت آفرینش","archive")
  form(method='POST',action='/archive')
    .form-group.row
      .col-lg-5.col-md-12.col-sm-12.archive-form
        span.frm_label از تاريخ:
        .rel.display-in
          input#date_input_3(type='text')
          img#date_btn_3.image-archive(src='assets/img/cal.png')
          script(type='text/javascript').
            Calendar.setup({
            inputField  : "date_input_3",   // id of the input field
            button      : "date_btn_3",   // trigger for the calendar (button ID)
            ifFormat    : "%Y/%m/%d",       // format of the input field
            dateType	: 'jalali',
            showOthers	: true,
            weekNumbers : true
            });
      .col-lg-5.col-md-12.col-sm-12.archive-form
        span.frm_label تا تاريخ:
        .rel.display-in
          input#date_input_2(type='text')
          img#date_btn_2.image-archive(src='assets/img/cal.png')
          script(type='text/javascript').
            Calendar.setup({
            inputField  : "date_input_2",   // id of the input field
            button      : "date_btn_2",   // trigger for the calendar (button ID)
            ifFormat    : "%Y/%m/%d",       // format of the input field
            dateType	: 'jalali',
            showOthers	: true,
            weekNumbers : true
            });
      .col-lg-2.col-md-12.col-sm-12.archive-form
        input(type='submit', value='جستجو')
      
+formTemplate("آرشیو روزنامه آفرینش","archive")
  form(method='POST',action='/archive')   
    .form-group.row
      .col-lg-10.col-md-12.col-sm-12.archive-form 
        span.frm_label تاريخ:
        .rel.display-in
          input#date_input_1(type='text')
          img#date_btn_1.image-archive(src='assets/img/cal.png')
          script(type='text/javascript').
            Calendar.setup({
            inputField  : "date_input_1",   // id of the input field
            button      : "date_btn_1",   // trigger for the calendar (button ID)
            ifFormat    : "%Y/%m/%d",       // format of the input field
            dateType	: 'jalali',
            showOthers	: true,
            weekNumbers : true
            });
      .col-lg-2.col-md-12.col-sm-12.archive-form
        input(type='submit', value='جستجو') 
