include ../../mixins/_index.pug
+formTemplate("آرشیو سایت آفرینش","archive")
  form(method='POST',action='/archive')
    .form-group.row
      .col.col-4
        span.frm_label از تاريخ:
        input#date_input_10(type='text')
        img#date_btn_10(src='../assets/img/cal.png', style='vertical-align: top;')
        //- script(type='text/javascript').
        //-   Calendar.setup({
        //-   inputField  : "date_input_10",   // id of the input field
        //-   button      : "date_btn_10",   // trigger for the calendar (button ID)
        //-   ifFormat    : "%Y/%m/%d",       // format of the input field
        //-   dateType	: 'jalali',
        //-   showOthers	: true,
        //-   weekNumbers : true
        //-   });
      .col.col-4
        span.frm_label تا تاريخ:
        input.text(type='text', name='', value='1399/04/15')
      .col.col-4
        input(type='submit', value='جستجو')
      
+formTemplate("آرشیو روزنامه آفرینش","archive")
  form(method='POST',action='/archive')   
    .form-group.row
      .col.col-4    
        span.frm_label تاريخ:
        input.text(type='text', name='', value='1384/01/01')
      .col.col-4 
      .col.col-4
        input(type='submit', value='جستجو') 