.archive{
  .formbody{
    background-color: #ececec;
    padding:50px;
    }
    .image-archive{
      position: absolute;
      left:5px;
      bottom:4px;
    }
}
@media(max-width:991px){
  .archive-form{
    margin:11px;
  }
}
