include ../../mixins/_index.pug
.article-header.padd5.text-p_12
  .row.mBottom5
    .code.col-lg-2.col-md-5
      span کد:
      span.text-color  735620
    .author.col-lg-3.col-md-7
      span نام نویسنده:
      span.text-color محمد جعفری
    .breadcrump.col-lg-3.col-md-5
      span صفحه نخست >>
      span.text-color اجتماعی
    .datetime.col-lg-4.col-md-7
      span تاریخ انتشار:
      span.text-color 2020 july 04 - 14 تیر 1399  - 10:36
  .row
    .view-num.col-lg-2.col-md-5
      span تعداد بازدید:
      span.text-color 23
    .opinion-num.col-lg-3.col-md-7
      span تعداد نظرات:
      span.text-color 7 نظر
.article-body
  .title-article.padd10
    h1.text-title_24.titr 
      a.text-color(href="#") تبرئه شهروند منتقد از اتهام توهین به رهبری 
  .subtitle.theme2.text-p_13
    p
      | کامفیروزی در تمام مراحل رسیدگی منکر اتهام توهین به رهبری شده و همچنین در گزارش ضابط پرونده نیز این اتهام گزارش نشده است. 
  .article-desc.borderAll.around5.mTop10.padd10.mBottom10
    .summary.text-p_12
      p
        | رأی برائت محمد علی کامفیرزوی در شعبه اول دادگاه تجدید نظر استان فارس صادر شد.
    .imgarticle
      img(src="../assets/img/article.jpg")
    .article-inner.mt-4.text-p_12
      p به گزارش آفرینش، مرکز رسانه قوه قضاییه اعلام کرد:
      p
        | «پرونده محمدعلی کامفیروزی که با اتهام توهین به مقام معظم رهبری در جریان رسیدگی بدوی منجر به صدور رأی غیر قطعی دو سال حبس شده بود، با تجدید نظر خواهی وی مجدد در دستور کار رسیدگی در دادگاه تجدیدنظر قرار گرفت.
      p
        | بنابراین گزارش، پس از دریافت تقاضای تجدیدنظر خواهی وی؛ پرونده در شعبه اول دادگاه تجدید نظر استان فارس مطرح شد و با رسیدگی به این پرونده امروز به صورت فوق العاده در دستور کار شعبه مزبور قرار گرفت.
      p
        | بر اساس رأی صادر شده قضات صادرکننده رأی خاطرنشان کرده‌اند که کامفیروزی در تمام مراحل رسیدگی منکر اتهام توهین به رهبری شده و همچنین در گزارش ضابط پرونده نیز این اتهام گزارش نشده است بنابراین تقاضای تجدیدنظر کامفیروزی صحیح تشخیص داده شده و رأی قطعی بر برائت او صادر می‌گردد.»
      p
        | وی سال ها قبل در جلسات دیدار فعالان دانشجویی با مقام معظم رهبری سخنرانی کرده بود. وی در آن سخنرانی از تبعات انتقاد از رهبری، شکوه کرده بود.
      p
        | محکومیت اولیه او به اتهام توهین به رهبری، با واکنش های انتقاد آمیز زیادی روبه رو شد.
      p
        | بر اساس رأی صادر شده قضات صادرکننده رأی خاطرنشان کرده‌اند که کامفیروزی در تمام مراحل رسیدگی منکر اتهام توهین به رهبری شده و همچنین در گزارش ضابط پرونده نیز این اتهام گزارش نشده است بنابراین تقاضای تجدیدنظر کامفیروزی صحیح تشخیص داده شده و رأی قطعی بر برائت او صادر می‌گردد.»
      p
        | وی سال ها قبل در جلسات دیدار فعالان دانشجویی با مقام معظم رهبری سخنرانی کرده بود. وی در آن سخنرانی از تبعات انتقاد از رهبری، شکوه کرده بود.
      p
        | محکومیت اولیه او به اتهام توهین به رهبری، با واکنش های انتقاد آمیز زیادی روبه رو شد.
 
    //- .article-pagination
    .row
      .col-6
        .theme2.center.flex
          .prev-button_inner.flex.wFull.center
            a(href="#")
              img(src="../assets/img/prev.jpg")
            .mR5.text-p_14
              .prev-article
                a.title-color(href="#") خبر قبلی
              .title-prevArticle
                a(href="#") تکمیل عملیات اتصال خط انار و تعمیر شیر ایستگاه 414 رفسنجان
      .col-6
        .theme2.center.flex
          .next-button_inner.flex.wFull.center
            .mL5.text-p_14
              .next-article
                a.title-color(href="#") خبر بعدی
              .title-nextArticle
                a(href="#") کودکان و کووید 19 مقلد!
            a.mrAuto(href="#")
              img(src="../assets/img/next.jpg")
+mainCardTemplate("خبرهای پیشنهادی","suggestion-news")
  .row
    .col-lg-6.col-md-12.text-p_14
      .item(style="background: url('assets/img/siasi.jpg') no-repeat center center; background-size: cover")
        .lable
          span سیاسی
        .titleitem
          span
            a(href="#") بازگشایی تدریجی مشاغل با دقت و رعایت اصول بهداشتی انجام شود
        .dateitem 
          span 1399-01-19
    .col-lg-6.col-md-12.text-p_14
      .item(style="background: url('assets/img/ejtemaee.jpg') no-repeat center center; background-size: cover")
        .lable
          span اجتماعی
        .titleitem
          span
            a(href="#") طرح کاهش زنجیره انتقال کرونا تا پایان فروردین ادامه دارد
        .dateitem
          span 1399-01-19
