@import "../../../scss/variables";
.theme2 {
  background-color: #f8f8f8;
  border: 0 solid #e0e0e0;
  border-width: 1px;
  padding: 5px;
  height: 100%;
}
.prev-button_inner,.next-button_inner{
  a{
    flex: 0 0 20px;
  }
}
.article-body {
  .subtitle {
    text-align: justify;
    border-left-width: 0px;
    border-right-width: 0px;
    border-top-width: 1px;
    border-bottom-width: 1px;
    padding: 8pt;
    margin-right: 5px;
  }
  img {
    text-align: center;
    width: 100%;
    height: auto;
  }
}
.article-pagination {
  align-items: center;
  justify-content: space-between;
  .title-prevArticle,
  .title-nextArticle {
    a {
      color: black;
    }
  }
}
.suggestion-news {
  span {
    display: block;
  }
  .item {
    height: 213px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .titleitem {
    // margin: 63px;
  }
  .dateitem {
    color: #fff;
    text-align: left;
    margin-right: auto;
    margin-top: auto;
    padding: 15px;
  }
  .titleitem {
    margin-top: auto;
    font-size: 20px;
    text-align: right;
    padding: 50px 15px 0;
    color: white;
  }
  .lable {
    background-color: $red;
    position: absolute;
    color: #fff;
    left: 0;
    padding: 0 10px;
    margin-bottom: auto;
    top: 0;
  }
}
@media (max-width: 991px) {
  .suggestion-news .item {
    margin-bottom: 30px;
  }
}
