.card-news.flex
  .news-inner.flex.rCol.padd5
    .title-card_news
      h3.text-title_19 برایان هوک: واشنگتن امیدوار به تمدید تحریم تسلیحاتی علیه ایران است
    .description
      p.text-p_12 رویترز: نماینده ویژه وزارت خارجه آمریکا در امور ایران گفت، که واشنگتن امیدوار است تحریم تسلیحاتی علیه ایران تمدید شود. به گزارش ایلتا به نقل از رویترز، "برایان هوک" نماینده ویژه وزارت خارجه آمریکا در امور ایران گفت واشنگتن امیدوار است تحریم تسلیحاتی علیه ایران که در ماه اکتبر منقضی می شود، تمدید شود. این در حالی است که یک مقام ارشد چین اعلام کرده است که کشورش با چنین
  .imgnews
      img(src="../assets/img/card1.jpg")
