.cat-card_news.flex.mTop10.mR10
  .img-catnews.mL10
    img(src="../assets/img/card2.jpg")
  .cat-card_news-inner.flex.rCol
    .subtitle-cat
      span.text-p_12 توسط نشر نیماز;
    .title-cat
      span.text-p_12 
        a(href="#") رمان اسرار عمارت تابان به کتابفروشی ها آمد.
    .description
      p.text-p_12 رمان اسرار عمارت تابان نوشته شیوا مقانلو توسط نشر نیماژ منتشر و به بازار کتاب عرضه شد.
.cat-card_news.flex.mTop10.mR10
  .img-catnews.mL10
    img(src="../assets/img/card3.jpg")
  .cat-card_news-inner.flex.rCol
    .subtitle-cat
      span.text-p_12 پرونده تمنای شهرت -2/ یک روانشناس در گفتگو با مهر مطرح کرد
    .title-cat
      span.text-p_12
        a(href="#") وقوع جنگ شناختی در اینستاگرام/بازیگران در صدر پیج های پرطرفدار
    .description
      p.text-p_12  بررسی پدیده شهرت طلبی از منظر مکانیزم های روانشناختی بخش دوم پرونده تمنای شهرت است. صدرا معتقد به بروز یک جنگ شناختی در اینستاگرام برای شهرت طلبی است.
.cat-card_news.flex.mTop10.mR10
  .cat-card_news-inner.flex.rCol
    .subtitle-cat
      span.text-p_12 عضو هیئت مدیره انجمن قلم مطرح کرد
    .title-cat
      span.text-p_12 
        a(href="#") نویسندگان در حوزه ادبیات فسادستیز قلم بزنند
    .description
      p.text-p_12 رضا رسولی با تاکید بر ادبیات فساد ستیز گفت: چند نفر از نویسندگان امروز به ادبیات فساد ستیز و عدالت محور توجه دارند و در این حوزه قلم میزنند؟
