mixin mainCardTemplate(title,className)
	div(class="theme mTop10 " + className)
		.theme-title.bgtitlecolor.title-color
			h4.title.square= title
		.borderAll.around5.padd5
			block
mixin formTemplate(title,className)
	div(class="formtheme mTop10 " + className)
		.formtitle
			span= title
		.formbody
			block
