block siteinfo
doctype html
html(lang='fa')
  head
    title afarinesh
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='assets/css/bootstrap.min.css')
    link(rel='stylesheet', href='assets/css/kit.min.css')
    link(rel='stylesheet', href='assets/css/styles.min.css')
    link(rel='stylesheet', href='assets/js/calendar/skins/aqua/theme.css')
    script(src='assets/js/calendar/jalali.js')
    script(src='assets/js/calendar/calendar.js')
    script(src='assets/js/calendar/calendar-setup.js')
    script(src='assets/js/calendar/lang/calendar-fa.js')
    script(src='assets/js/jquery.min.js')

body
  .container
    .row
      .col-lg-9.col-md-8.col-sm-12.col-12
        block header
        block mainMenu
        block body
      .col-lg-3.col-md-4.col-sm-12.col-12
        block sidebar
  block footer
  script(src='assets/js/popper.min.js')
  script(src='assets/js/bootstrap.min.js')
