block siteinfo
doctype html
html(lang='fa')
  head
    title afarinesh
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='/assets/css/font-awesome.min.css')
    //- link(rel='alternate stylesheet', type='text/css', media='all', href='/assets/css/calendar-system.css', title='system')
    link(rel='stylesheet', href='/assets/css/bootstrap.min.css')
    link(rel='stylesheet', href='/assets/css/kit.css')
    link(rel='stylesheet', href='/assets/css/styles.css')
body
  .container
    .row
      .col.col-9
        block header
        block mainMenu
        block body
      .col.col-3
        block sidebar
  block footer
  //- script(src='/assets/js/calender/jalali.js')
  //- script(src='/assets/js/calender/calendar.js')
  //- script(src='/assets/js/calender/calendar-setup.js')
  //- script(src='/assets/js/calender/lang/calendar-fa.js')
  script(src='/assets/js/jquery.min.js')
  script(src='/assets/js/popper.min.js')
  script(src='/assets/js/bootstrap.min.js')
