@font-face { font-family: Nassim; font-style: normal; font-weight: normal; src: url("../fonts/nassim/nassim-bold.ttf") format("truetype"); }

@font-face { font-family: shabnam; font-style: normal; font-weight: normal; src: url("../fonts/Shabnam-FD.woff"); }

body { direction: rtl; font-family: Tahoma; text-align: right; }

.titr { font-family: Nassim; }

.red-color { color: #d71a21; }

.text-color { color: #1b1464; }

.title-color { color: #d71a21; }

.bgcolor { background-color: #dcdddf; }

.bgtitlecolor { background-color: #e7e7e9; }

.bgredcolor { background-color: #d71a21; }

.text-title_16 { font-size: 16px; font-weight: 300; line-height: 1.94; }

.text-title_15 { font-size: 15px; font-weight: 500; line-height: 24px; }

.text-title_19 { font-size: 19px; font-weight: 300; line-height: 24px; text-align: right; text-indent: 5px; }

.text-title_21 { font-size: 21px; font-weight: 300; line-height: 24px; text-align: center; }

.text-title_24 { font-size: 24px; font-weight: 300; line-height: 28px; text-align: right; }

.text-p_11 { font-size: 11px; font-weight: normal; line-height: 17px; }

.text-p_13 { font-size: 13px; font-weight: 300; line-height: 19px; text-align: justify; }

.text-p_12 { font-size: 12px; font-weight: 300; line-height: 18px; }

.text-p_14 { font-size: 14px; font-weight: 300; line-height: 24px; }

.title { font-family: Nassim; font-size: 19px; font-weight: 300; line-height: 24px; }

.text-just { text-align: justify; }

.text-r { text-align: right; }

.mrAuto { margin-right: auto; }

.wFull { width: 100%; }

.mR5 { margin-right: 5px; }

.mL5 { margin-left: 5px; }

.mr10 { margin-right: 10px; }

.mL10 { margin-left: 10px; }

.m10 { margin: 10px; }

.width50 { width: 50%; }

.width20 { width: 20%; }

.flex { display: flex; }

.fWrapper { flex-wrap: wrap; }

.rCol { flex-direction: column; }

.square::before { content: ""; background-color: #e7e7e9; position: absolute; transform: rotate(45deg); border-radius: 2px; }

.center { display: flex; justify-content: center; align-items: center; }

.vCenter { display: flex; justify-content: center; }

.hCenter { display: flex; align-items: center; }

.flex-rev { display: flex; flex-direction: row-reverse; }

.nBr { border-right: 0; }

.nBb { border-bottom: 0; }

li { list-style: none; }

.borderAll { border: 1px solid #C0C0C0; }

.borderAll.around5 { border-radius: 5px; }

.borderBottom { border-bottom: 1px solid #C0C0C0; }

.borderTp { border-top: 1px solid #C0C0C0; }

.mTop10 { margin-top: 10px; }

.mBottom40 { margin-bottom: 40px; }

.mBottom5 { margin-bottom: 5px; }

.mBottom10 { margin-bottom: 10px; }

.mBottom20 { margin-bottom: 20px; }

.mRight10 { margin-right: 10px; }

.mLeft30 { margin-left: 30px; }

.noPaddlr { padding-left: 0; padding-right: 0; }

.padd5 { padding: 5px; }

.padd3 { padding: 3px; }

.padd10 { padding: 10px; }

.padd20 { padding: 20px; }

.paddT10 { padding-top: 10px; }

.paddT30 { padding-top: 30px; }

.paddr15 { padding-right: 15px; }

.paddl15 { padding-left: 15px; }

.paddl20 { padding-left: 20px; }

.text-trunc { white-space: nowrap; overflow: hidden; text-overflow: ellipsis; display: inline-block; max-width: 100%; }

.display-in { display: inline-block; }

.rel { position: relative; }

a { color: black; }

.theme .theme-title { height: 15px; margin-bottom: 5px; font-family: Nassim; }

.theme .title { font-family: Nassim; position: relative; padding-right: 24px; top: -4px; line-height: 16px; }

.theme .title:before { width: 11px; height: 11px; background-color: #d71a21; bottom: -1px; right: 8px; }

.formtheme { border: 1px solid #C0C0C0; border-radius: 6px; margin-bottom: 10px; }

.formtheme .formtitle { font-family: Nassim; background: linear-gradient(to bottom, #b1b1b1 0%, #ededed 100%); height: 24px; border-bottom: 1px solid #c3c3c3; border-radius: 6px 6px 0 0; font-size: 16px; padding-right: 5px; overflow: hidden; width: 100%; text-align: right; }

.formtheme .formbody { padding: 10px; }

.calendar .nav { display: table-cell; }
