header.header
	.flex.rCol 
		.row.hCenter
			.col.col-8
				.topMenu
					nav.navbar.navbar-expand-lg.navbar-light
						#navbarTogglerDemo03.collapse.navbar-collapse
							ul.navbar-nav.mr-auto.mt-2.mt-lg-0
								li.nav-item.active.square
									a.nav-link(href='#') صفحه اصلی
								li.nav-item.square
									a.nav-link(href='./contactus.html') تماس با ما
								li.nav-item.square
									a.nav-link(href='./archive.html') آرشیو
								li.nav-item.square
									a.nav-link(href='./links.html') پیوندها
								li.nav-item.square
									a.nav-link(href='#') نظرسنجی
			.col.col-4
				.date
					span  سه شنبه / 6 خرداد 1399 / 12:45 
		.row
			.col.col-6
				.logo
					img(src='../assets/img/logo.jpg', alt='logo')
			.col.col-6
				.search-form
					form(action='#')
						input.search-form__input(placeholder='جستجو در سایت')
						button(type='submit').search-form__button
		.row
			.col.col-12
				.mainMenu
					nav.navbar.navbar-expand-lg.navbar-light
						#navbarTogglerDemo03.collapse.navbar-collapse.bgcolor
							ul.navbar-nav.mr-auto.mt-2.mt-lg-0
								li.nav-item.active
									a.nav-link(href='#') اخبار
								li.nav-item
									a.nav-link(href='#') سیاسی
								li.nav-item
									a.nav-link(href='#') دانشگاه
								li.nav-item
									a.nav-link(href='/article.html') اجتماعی
								li.nav-item
									a.nav-link(href='/category.html') فرهنگ و هنر
								li.nav-item
									a.nav-link(href='#') اقتصادی
								li.nav-item
									a.nav-link(href='#') ورزشی
								li.nav-item
									a.nav-link(href='#') استان ها
								li.nav-item
									a.nav-link(href='#') معرفی دانشگاه های ایران و جهان
