.hotnews{
  color:white;
  margin-top: 5px;
  margin-bottom: 5px;
  border-radius: 10px;
}
.mostview-news{
  .newsgrid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 10px;
      }
  .newsgrid-item {
    border: 1px solid gray;
    padding: 20px;
    text-align: center;
    position: relative;
      &:before{
        width: 10px;
        height: 10px;
        right:5px;
      }
    }
}
.title{
  .text-title_19{
    margin-bottom: 0px;
  }
}
.card-news{
  .description{
      height:95px;
      overflow: hidden;
      text-align:right;
      padding-left:5px;
      padding-right:5px;
     
  }
}
.topnews{
  .description{
      height:132px;
      overflow: hidden;
      text-align:right;
      padding-left:5px;
      padding-right:5px;
      p{
        margin-bottom:5px;
      }
  }
}
.videonews {
  video{
    width:33%;
    height:auto;
    margin-right: 85px;
  }
  span{
    display:block;
    text-align: center;
  }
}
