.hotnews{
   color:white;
   margin-top: 5px;
    margin-bottom: 5px;
    border-radius: 10px;
    
}
.mostview-news{
    .newsgrid-container {
        display: grid;
        grid-template-columns: auto auto auto;
        padding: 10px;
      }
      .newsgrid-item {
        border: 1px solid gray;
        padding: 20px;
        text-align: center;
        position: relative;
        &:before{
            width: 10px;
            height: 10px;
            right:5px;
          }

      }
}