.container
  .row
    .col.col-lg-9.col-md-12
      .title-link رسانه های آنلاین
      .item-container.flex
        each i in [1,2,3,4,5]
          .item.width20
            -var info1=["عصرايران","عصرايران2","عصرایران/عربی","سواد زندگی","عصرخبر","فردانیوز","پارسیا","اعتدال","موبنا","تابنا","تیتر شهر","جیب نیوز","انتخاب","آخرین","آفتاب","جهان","الف","تیک","بلدیه","فرارو","روز نو","بانکی","پرشیا دایجست","زیست نیوز","خرداد نیوز"]
            each n in info1
              .linkItem
                a.link(href='#', target='_blank', rel='nofollow')= n
    .col.col-lg-3.col-md-12
      .title-link مطبوعات
      .item-container.flex
        .item.width50
          #press.carousel.slide(data-interval='false', data-wrap='false')
            .carousel-inner
              .carousel-item.active
                  -var info1=["عصرايران","عصرايران2","عصرایران/عربی","سواد زندگی","عصرخبر","فردانیوز","پارسیا","اعتدال","موبنا","تابنا","تیتر شهر","جیب نیوز","انتخاب","آخرین","آفتاب","جهان","الف","تیک","بلدیه","فرارو","روز نو","بانکی","پرشیا دایجست","زیست نیوز","خرداد نیوز"]
                    each n in info1
                      .linkItem
                        a.link(href='#', target='_blank', rel='nofollow')= n  
              .carousel-item
                  -var info1=["عصرايران","عصرايران2","عصرایران/عربی","سواد زندگی","عصرخبر","فردانیوز","پارسیا","اعتدال","موبنا","تابنا","تیتر شهر","جیب نیوز","انتخاب","آخرین","آفتاب","جهان","الف","تیک","بلدیه","فرارو","روز نو","بانکی","پرشیا دایجست","زیست نیوز","خرداد نیوز"]
                    each n in info1
                      .linkItem
                        a.link(href='#', target='_blank', rel='nofollow')= n
            .link_next_prev.flex
              a.left.carousel-control.link_prev(href='#press', data-slide='prev')
                span(aria-hidden="true").carousel-control-prev-icon 
              a.right.carousel-control.link_next(href='#press', data-slide='next')
                span(aria-hidden="true").carousel-control-next-icon
        .item.width50
          -var info1=["عصرايران","عصرايران2","عصرایران/عربی","سواد زندگی","عصرخبر","فردانیوز","پارسیا","اعتدال","موبنا","تابنا","تیتر شهر","جیب نیوز","انتخاب","آخرین","آفتاب","جهان","الف","تیک","بلدیه","فرارو","روز نو","بانکی","پرشیا دایجست","زیست نیوز","خرداد نیوز"]
          each n in info1
            .linkItem
              a.link(href='#', target='_blank', rel='nofollow')= n
script.
  var carousel = document.querySelectorAll('.carousel');
  carousel.forEach(function(item){
    if ($(item).find('.carousel-inner .carousel-item:first').hasClass('active')) {
      console.log('left')
      $(item).find('.left.carousel-control').hide();
      $(item).find('.right.carousel-control').show();
    }
    $(item).on('slid.bs.carousel', function () {
        if ($(this).find('.carousel-inner .carousel-item:first').hasClass('active')) {
          console.log('left')
          $(this).find('.left.carousel-control').hide();
          $(this).find('.right.carousel-control').show();
        } else if ($(this).find('.carousel-inner .carousel-item:last').hasClass('active')) {
          $(this).find('.right.carousel-control').hide();
          $(this).find('.left.carousel-control').show();
          console.log('right')
        } else {
          $(this).find('.carousel-control').show();
          console.log('show')
        }
    })
  })