.leftSidebar
	.pdfSlider
		h3 روزنامه آفرینش
	.noteNews
		h3 اخبار ویژه و یادداشت ها
		ul
			li salam
	.newNews
		h3 تازه ترین اخبار
		ul
			li sALAM
	.attractions
		h3 دیدنی ها
	.firstPageNews
		h3 صفحه اول روزنامه ها
