include ../mixins/_index.pug
.leftSidebar
	+mainCardTemplate("روزنامه آفرینش","pdfSlider")
		#pdfSlider.carousel.slide(data-ride='carousel')
			.carousel-inner
				each n in[0,1,2,3,4,5,6,7]
					div(class=`carousel-item ${n === 0 ? 'active': ''}`)
						.slide-content.flex
							a.pdf(href="")
								img(src='assets/img/pdfbul.jpg', alt='img1')
							a.image(href="")
								img(src=`assets/img/pdfimg-${n}.jpg`, alt='img1')
			ul.carousel-indicators
				each n in [0,1,2,3,4,5,6,7]
					li(class=`${n === 0 ? "active" : ""}`,data-target='#pdfSlider', data-slide-to=`${n}`)=n+1
	+mainCardTemplate("تازه ترین اخبار","note-news")
		ul
			li.square
				a(href="#") قانونگذاران آمریکایی خواستار تغییر تاکتیک ترامپ
			li.square 
				a(href="#")
					|	تلاش ناتو برای رهگیری جنگنده های روسیه
			li.sqaure 
				a(href="#")
					|	آمریکا مدعی شده: ونزوئلا هزینه کمک های فنی ایران
			li.square 
				a(href="#")
					|	ورد سامانه اس400 روسیه به ترکیه متوقف
			li.square
				a(href="#") قانونگذاران آمریکایی خواستار تغییر تاکتیک ترامپ
			li.square 
				a(href="#")
					|	تلاش ناتو برای رهگیری جنگنده های روسیه
			li.square 
				a(href="#")
					|	ورد سامانه اس400 روسیه به ترکیه متوقف
			li.square
				a(href="#") قانونگذاران آمریکایی خواستار تغییر تاکتیک ترامپ
			li.square 
				a(href="#")
					|	تلاش ناتو برای رهگیری جنگنده های روسیه
			li.sqaure 
				a(href="#")
					|	آمریکا مدعی شده: ونزوئلا هزینه کمک های فنی ایران
	
	+mainCardTemplate("اخبار ویژه و یادداشت ها","note-news")
		ul
			li.square
				a(href="#")
					| قانونگذاران آمریکایی خواستار تغییر تاکتیک ترامپ
			li.square 
				a(href="#")
					|	تلاش ناتو برای رهگیری جنگنده های روسیه
			li.sqaure 
				a(href="#")
					|	آمریکا مدعی شده: ونزوئلا هزینه کمک های فنی ایران
			li.square 
				a(href="#")
					|	ورد سامانه اس400 روسیه به ترکیه متوقف
			li.square
				a(href="#")
					| قانونگذاران آمریکایی خواستار تغییر تاکتیک ترامپ
			li.square 
				a(href="#")
					|	تلاش ناتو برای رهگیری جنگنده های روسیه
			li.sqaure 
				a(href="#")
					|	آمریکا مدعی شده: ونزوئلا هزینه کمک های فنی ایران
			li.square 
				a(href="#")
					|	ورد سامانه اس400 روسیه به ترکیه متوقف
			li.square
				a(href="#")
					| قانونگذاران آمریکایی خواستار تغییر تاکتیک ترامپ
			li.square 
				a(href="#")
					|	تلاش ناتو برای رهگیری جنگنده های روسیه
			li.sqaure 
				a(href="#")
					|	آمریکا مدعی شده: ونزوئلا هزینه کمک های فنی ایران
			li.square 
				a(href="#")
					|	ورد سامانه اس400 روسیه به ترکیه متوقف
			li.square
				a(href="#")
					| قانونگذاران آمریکایی خواستار تغییر تاکتیک ترامپ
			li.square 
				a(href="#")
					|	تلاش ناتو برای رهگیری جنگنده های روسیه
			li.sqaure 
				a(href="#")
					|	آمریکا مدعی شده: ونزوئلا هزینه کمک های فنی ایران
			li.square 
				a(href="#")
					|	ورد سامانه اس400 روسیه به ترکیه متوقف
			li.square
				a(href="#")
					| قانونگذاران آمریکایی خواستار تغییر تاکتیک ترامپ
			li.square 
				a(href="#")
					|	تلاش ناتو برای رهگیری جنگنده های روسیه
			li.sqaure 
				a(href="#")
					|	آمریکا مدعی شده: ونزوئلا هزینه کمک های فنی ایران
			li.square 
				a(href="#")
					|	ورد سامانه اس400 روسیه به ترکیه متوقف
			li.square
				a(href="#")
					| قانونگذاران آمریکایی خواستار تغییر تاکتیک ترامپ
			li.square 
				a(href="#")
					|	تلاش ناتو برای رهگیری جنگنده های روسیه
			li.sqaure 
				a(href="#")
					|	آمریکا مدعی شده: ونزوئلا هزینه کمک های فنی ایران
			li.square 
				a(href="#")
					|	ورد سامانه اس400 روسیه به ترکیه متوقف
	+mainCardTemplate("دیدنی ها","aslider")
		#attractions-slider.carousel.slide(data-ride='carousel')
				.carousel-inner
					.carousel-item.active
						img(src='assets/img/didani.jpg', alt='img1')
					.carousel-item
						img(src='assets/img/didani.jpg', alt='img1')
					.carousel-item
						img(src='assets/img/didani.jpg', alt='img1')
					.carousel-item
						img(src='assets/img/didani.jpg', alt='img1')
					.carousel-item
						img(src='assets/img/didani.jpg', alt='img1')
					.carousel-item
						img(src='assets/img/didani.jpg', alt='img1')
				ul.carousel-indicators
					li.active(data-target='#attractions-slider', data-slide-to='0')
					li(data-target='#attractions-slider', data-slide-to='1')
					li(data-target='#attractions-slider', data-slide-to='2')
					li(data-target='#attractions-slider', data-slide-to='3')
					li(data-target='#attractions-slider', data-slide-to='4')
					li(data-target='#attractions-slider', data-slide-to='5')
	+mainCardTemplate("صفحه اول روزنامه","aslider")
			#news-slider.carousel.slide(data-ride='carousel')
				.carousel-inner
					.carousel-item.active
						img(src='assets/img/varzeshi-news.jpg', alt='img1')
					.carousel-item
						img(src='assets/img/varzeshi-news.jpg', alt='img1')
					.carousel-item
						img(src='assets/img/varzeshi-news.jpg', alt='img1')
					.carousel-item
						img(src='assets/img/varzeshi-news.jpg', alt='img1')
					.carousel-item
						img(src='assets/img/varzeshi-news.jpg', alt='img1')
					.carousel-item
						img(src='assets/img/varzeshi-news.jpg', alt='img1')
				ul.carousel-indicators
					li.active(data-target='#news-slider', data-slide-to='0')
					li(data-target='#news-slider', data-slide-to='1')
					li(data-target='#news-slider', data-slide-to='2')
					li(data-target='#news-slider', data-slide-to='3')
					li(data-target='#news-slider', data-slide-to='4')
					li(data-target='#news-slider', data-slide-to='5')
	+mainCardTemplate("خدمات آنلاین","aslider online-service")
		#service-slider.carousel.slide(data-ride='carousel')
			.carousel-inner
				.carousel-item.active
					.flex-item
						a(href="#")
							img(src="assets/img/savabegh.png")
						a(href="#")
							img(src="assets/img/metro.png")
						a(href="#")
							img(src="assets/img/oghat.png")
						a(href="#")
							img(src="assets/img/internet.png")
						a(href="#")
							img(src="assets/img/other-service.png")
				for n in [1,2,3,4,5,6]
					.carousel-item
						.flex-item
							a(href="#")
								img(src="assets/img/internet.png")
							a(href="#")
								img(src="assets/img/other-service.png")
							a(href="#")
								img(src="assets/img/savabegh.png")
							a(href="#")
								img(src="assets/img/metro.png")
							a(href="#")
								img(src="assets/img/oghat.png")
			ul.carousel-indicators
				li.active(data-target='#service-slider', data-slide-to='0')
				li(data-target='#service-slider', data-slide-to='1')
				li(data-target='#service-slider', data-slide-to='2')
				li(data-target='#service-slider', data-slide-to='3')
				li(data-target='#service-slider', data-slide-to='4')
				li(data-target='#service-slider', data-slide-to='5')
	+mainCardTemplate("دانلود نرم افزار","aslider download")
		#download-slider.carousel.slide(data-ride='carousel')
			.carousel-inner
				.carousel-item.active
					.flex-item
						a(href="#")
							img(src="assets/img/instagram.png")
						a(href="#")
							img(src="assets/img/whatsapp.png")
						a(href="#")
							img(src="assets/img/cafe-bazar.png")
				for n in [1,2,3,4,5,6]
					.carousel-item
						.flex-item
							a(href="#")
								img(src="assets/img/instagram.png")
							a(href="#")
								img(src="assets/img/whatsapp.png")
							a(href="#")
								img(src="assets/img/cafe-bazar.png")
			ul.carousel-indicators
				li.active(data-target='#download-slider', data-slide-to='0')
				li(data-target='#download-slider', data-slide-to='1')
				li(data-target='#download-slider', data-slide-to='2')
				li(data-target='#download-slider', data-slide-to='3')
				li(data-target='#download-slider', data-slide-to='4')
				li(data-target='#download-slider', data-slide-to='5')
