@import '../../scss/variables';
.leftSidebar{
  .note-news{
    ul{
      padding-right: 14px;
      padding-left: 10px;
    }
    li{
      position: relative;    
      padding-right:7px;
      display: block;
      margin-top: 5px;
      a{
        font-size:13px;
        color:black;
      }
      &:before{
        width: 10px;
        height: 10px;
        top:4px;
        right:-8px;
      }
    }
  }

  .aslider{
    .carousel-item{
      img{
        width:100%;
      }
    }
    .carousel-indicators {
      position:relative;
      top:5px;
      li{
        border-radius: 50%;
        width:18px;
        height:18px;
        border:1px solid $gray-slide !important;
        background-color: white;
      &.active
        {
          background-color: $gray_active;
        }
      }
    }
  }
  .pdfSlider{
    img {
      width: 100%;
      max-width: 200px;
    }
    .pdf{
      width: 15%;
      margin-left: 5px;
    }
    .carousel-indicators {
      display: block;
      top: 40px;
      right: -30px;
      left: auto;
      overflow-y: auto;
      li{
        text-indent:0;
        opacity:100;
        text-align: center;
        height: auto;
        border-top: 0;
        border-bottom:2px solid transparent;
        background: transparent;
        width: 20px;
        line-height: 22px;
     &.active
     {
      border-bottom: 2px solid #ffa200;
     }
      }
    }
  }

}
