@import '../../scss/variables';
.leftSidebar{
  .note-news{
    ul{
      padding-right: 14px;
      padding-left: 10px;
  
    }
    li{
      position: relative;
      font-size:13px;
      &:before{
        width: 10px;
        height: 10px;
        right:-12px;
        top:6px;
      }
    }
    
  }
  .title{
    padding-right:18px;
    h4{
      position: relative;
      &:before{
        width: 11px;
        height: 11px;
        background-color:$red;
        bottom:7px;
        padding-right:14px;
      }
    }
  }
  .carousel-item{
   
    img{
      width:100%;
    }
  }
  .aslider{
    .carousel-indicators {
      position:relative;
      top:5px;
      li{
        border-radius: 50%;
        width:18px;
        height:18px;
        border:1px solid $gray-slide !important;
        background-color: white;
      &.active
        {
          background-color: $gray_active;
        }
      }
    }
  }
  .pdfSlider{
    .carousel-indicators {
      position:relative;
      li{
        text-indent:0
      }
    }
  }

}