// Footer
footer.mainFooter.borderTp.Mtop10.padd5
	.container
		.row.paddT30
			.col-md-3.col-sm-12.Mbottom20
				.contact.Mleft30
					h4.title.Mbottom40 روزنامه آفرینش
					.about.text-p_13
						ul
							li صاحب امتیاز: عبدالله جعفرعلی جاسبی
							li مدیر مسئول:عباس جعفر علی جاسبی
					.address.text-p_13.Mtop10
						img(src='/assets/img/home.png')
						span.Mright10 تهران-خیابان کریم خان- خیابان ویلا- کوچه افشین-شماره 27
					.email.text-p_13.Mtop10
						img(src='/assets/img/email.png')
						span.Mright10 info@afarinesh-daily.com
					.tel.text-p_13.Mtop10
						img(src='/assets/img/tel.png')
						span.Mright10 (021 -88890492 , 021-88890492)
			.col-md-3.col-sm-12.Mbottom20
				.last-news.Mleft30
					div
						h4.title.Mbottom40 آخرین خبرها
					.last-news_inner
						ul.text-p_13
							li جمالی نژاد: مسافران ناوگان حمل و نقل عمومی از 15 تیر ماه باید از ماسک استفاده کنند.
							li نیازی به مذاکره مجدد با آمریکا وجود ندارد.
							li 320 مقام از آمریکای لاتین خواستار تحریم رژیم صهیونیستی شدند
			.col-md-3.col-sm-12.Mbottom20
				.mostvisited-news.Mleft30
					div
						h4.title.Mbottom40 پربازدید ترین خبرها
					.mostvisited-news_inner
						ul.text-p_13
							li جمالی نژاد: مسافران ناوگان حمل و نقل عمومی از 15 تیر ماه باید از ماسک استفاده کنند.
							li نیازی به مذاکره مجدد با آمریکا وجود ندارد.
							li 320 مقام از آمریکای لاتین خواستار تحریم رژیم صهیونیستی شدند
			.col-md-3.col-sm-12.Mbottom20
				.archive-news
					div
						h4.title.Mbottom40 صفحات روزنامه آفرینش
					ul.flex.fWrapper
						each i in[1,2,3,4,5,6,7,8]
							li 
								a(href='#')
									.archive-pdf.center
										img(src='/assets/img/pdf.png')
									| صفحه1


						 


