// Footer
footer.mainFooter.borderTp.Mtop10.padd5
	.container
		.row
			.col.col-3
				.contact
					h4 روزنامه آفرینش
					.about
						ul
							li صاحب امتیاز: عبدالله جعفرعلی جاسبی
							li مدیر مسئول:عباس جعفر علی جاسبی
					.address
						i.fa.fa-home
						span تهران-خیابان کریم خان- خیابان ویلا- کوچه افشین-شماره 27
					.email
						i.fa.fa-envelope-open(aria-hidden="true")
						span info@afarinesh-daily.com
					.tel
						i.fa.fa-headphones(aria-hidden="true")
						span (021 -88890492,021-88890492)
			.col.col-3
				.last-news
					h4 آخرین خبرها
					ul
						li جمالی نژاد: مسافران ناوگان حمل و نقل عمومی از 15 تیر ماه باید از ماسک استفاده کنند.
						li نیازی به مذاکره مجدد با آمریکا وجود ندارد.
						li 320 مقام از آمریکای لاتین خواستار تحریم رژیم صهیونیستی شدند
			.col.col-3
				.mostvisited-news
					h4 پربازدید ترین خبرها
					ul
						li جمالی نژاد: مسافران ناوگان حمل و نقل عمومی از 15 تیر ماه باید از ماسک استفاده کنند.
						li نیازی به مذاکره مجدد با آمریکا وجود ندارد.
						li 320 مقام از آمریکای لاتین خواستار تحریم رژیم صهیونیستی شدند
			.col.col-3
				.archive-news
					h4 صفحات روزنامه آفرینش
					ul.flex.fWrapper
						li 
							a(href='#') صفحه1
						li 
							a(href='#') صفحه2
						li 
							a(href='#') صفحه3
						li 
							a(href='#') صفحه4
						li 
							a(href='#') صفحه5
						li 
							a(href='#') صفحه6
						li 
							a(href='#') صفحه7
						li 
							a(href='#') صفحه8

						 


