include ../../mixins/_index.pug
.topcatnews.flex-rev.borderAll.around5.padd10
  .imgcatnews
    img(src="../assets/img/catimg.jpg")
  .catnews-inner.flex.rCol.mL10
    .cattitle
      span بررسی آثار ایوان کلیما-۹
      h4.text-title_21.text-color.text-r قصه سفرهای خطرناک ایوان کلیما در قرن دیوانه/زندگی با ترس و امید
    .catdescription.text-just
      p کتاب «سفرهای خطرناک من» شامل داستان‌های کوتاهی از دوران کودکی ایوان کلیما از اسارت در بند نازی‌ها و سپس کمونیست‌ها است و شرح مطالبش را می‌توان در کتاب «قرن دیوانه من» این نویسنده پیدا کرد. کتاب «سفرهای خطرناک من» شامل داستان هایی از دوران کودکی ایوان کلیما از اسارت در بند نازی ها و سپس کمونیست ها است و شرح مطالبش را میتوان در کتاب «قرن دیوانه من» این نویسنده پیدا کرد.
+mainCardTemplate("اخبار فرهنگ و هنر","art-news")
  .row
    each val in [1, 2, 3,4]
      .col.col-12.paddl20
        include ../includes/catcard
