.topcatnews{
  .catdescription{
    text-align:justify;
    padding-left:5px;
    padding-right:5px;
    p{

      margin-bottom:5px;
    }
  }
}

@media (max-width: 991px) {
  .topcatnews{
    flex-direction: column;
    text-align: center;
  }
  .catnews-inner{
      padding-top: 20px;
  }
}
