.topcatnews{
  .catdescription{
      height:132px;
      overflow: hidden;
      text-align:right;
      padding-left:5px;
      padding-right:5px;
      p{
        margin-bottom:5px;
      }
  }
}
@media (max-width: 600px) {
  .topnews,.topcatnews{
    display:block;
    text-align: center;
  }
}
