@import './_variables.scss';
@font-face {
  font-family: Nassim;
  font-style: normal;
  font-weight: normal;
  src: url('../fonts/nassim/nassim-bold.ttf') format('truetype');
}
@font-face {
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  src: url('../fonts/fontAwesome/fontawesome-webfont.ttf') format('truetype');
}
body{
  direction:rtl;
  font-family:'Nassim', Tahoma, serif;
  text-align: right;
}
.red-color{
  color:$red;
}
.title-color{
  color:$blue;
}
.text-title {
  &_16 {
    font-size: 16px;
    font-weight: 300;
    line-height: 1.94;
  }
  &_15 {
    font-size: 15px;
    font-weight: 500;
    line-height: 24px;
  }
  &_19 {
    font-size: 19px;
    font-weight: 300;
    line-height: 24px;
    text-align: center;
  }
  &_21 {
    font-size: 21px;
    font-weight: 300;
    line-height: 24px;
    text-align: center;
  }
}
.text-p {
  &_13 {
    font-size: 13px;
    font-weight: 300;
    line-height: 18px;
  }
  &_12 {
    font-size: 12px;
    font-weight: 300;
    line-height: 16px;
  }

 
}
.title-color{
  color:$red;
}
.flex {
  display: flex;
}
.fWrapper{
  flex-wrap: wrap;
}
.rCol {
  flex-direction: column;
}
.square::before{
  content: "";
  background-color:$light-gray;
  position: absolute;
  transform: rotate(45deg);
}
.center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.vCenter {
  display: flex;
  justify-content: center;
}
.hCenter {
  display: flex;
  align-items: center;
}
.bgcolor{
  background-color: $dark-gray;
}
.bgtitlecolor{
  background-color: $light-gray;
}
.bgredcolor{
  background-color: $red;
}
li{
  list-style: none;
}
.borderAll{
  border:1px solid $border-color;
  &.around5{
    border-radius:5px;
  }
}
.borderTp{
  border-top:1px solid $border-color;
}
.Mtop10{
  margin-top:10px
}
.padd5{
  padding:5px;
}
.text-trunc{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: inline-block;
  max-width: 100%;
}





